# Google OAuth2 Client ID from https://console.cloud.google.com/
# Required scope: https://www.googleapis.com/auth/spreadsheets
# Authorised JavaScript origin must include your app's URL (e.g. http://localhost:5173)
VITE_GOOGLE_CLIENT_ID=YOUR_GOOGLE_OAUTH2_CLIENT_ID.apps.googleusercontent.com
